@using MyFitnessApp.Data.Models
@model AddFoodInputModel

@{
    this.ViewData["Title"] = "Add to food diary";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Foods/All">All foods</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-2">
            <form method="post">
                <h3 class="text-center">@Model.Name</h3>
                <div>
                    <div class="form-group">
                        <label asp-for="ServingSize"></label>
                        <input asp-for="ServingSize" class="form-control">
                        <span asp-validation-for="ServingSize" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MealName"></label>
                        <select asp-for="MealName" class="form-control">
                            @foreach (int mealName in Enum.GetValues(typeof(MealName)))
                            {
                                <option value="@mealName">@Enum.GetName(typeof(MealName), mealName)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="text-center pt-2">
                    <input class="btn btn-primary btn-outline-light" type="submit" value="Add to food diary" />
                </div>
            </form>
        </div>
    </div>
</div>