@model CreateFoodInputModel

@{
    ViewData["Title"] = "Create new food";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Foods/All">All foods</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

@if (this.TempData.ContainsKey("MessageForExistingFood"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@this.TempData["MessageForExistingFood"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 offset-xl-3 col-xl-6">
            <!-- Прави формата responsive при различни размери на екрана -->
            <form method="post">
                <div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="food name here...">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProteinIn100Grams"></label>
                        <input asp-for="ProteinIn100Grams" class="form-control" placeholder="protein in grams here...">
                        <span asp-validation-for="ProteinIn100Grams" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CarbohydratesIn100Grams"></label>
                        <input asp-for="CarbohydratesIn100Grams" class="form-control" placeholder="carbs in grams here...">
                        <span asp-validation-for="CarbohydratesIn100Grams" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FatIn100Grams"></label>
                        <input asp-for="FatIn100Grams" class="form-control" placeholder="fat in grams here...">
                        <span asp-validation-for="FatIn100Grams" class="small text-danger"></span>
                    </div>
                </div>
                <div class="text-center pt-2">
                    <input class="btn  btn-outline-secondary" type="submit" value="Save" />
                </div>
            </form>
        </div>
     </div>
</div>