[*.cs]

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = none
