@{
    this.ViewData["Title"] = "Article categories";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Articles/All">All articles</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <a asp-controller="Blogs" asp-action="Recipes">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/articlecategories/recipes.jpg" class="card-img-top">
                        </div>
                    </div>
                    <div class="card card-body text-center alert-secondary">
                        <h5>Recipes</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <a asp-controller="Blogs" asp-action="Fitness">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/articlecategories/fitness.jpg" class="card-img-top">
                        </div>
                    </div>
                    <div class="card card-body text-center alert-secondary">
                        <h5>Fitness</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <a asp-controller="Blogs" asp-action="Nutrition">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/articlecategories/nutrition.jpg" class="card-img-top">
                        </div>
                    </div>
                    <div class="card card-body text-center alert-secondary">
                        <h5>Nutrition</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <a asp-controller="Blogs" asp-action="Weightloss">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/articlecategories/weightloss.jpg" class="card-img-top">
                        </div>
                    </div>
                    <div class="card card-body text-center alert-secondary">
                        <h5>Weightloss</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <a asp-controller="Blogs" asp-action="Inspiration">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/articlecategories/inspiration.jpg" class="card-img-top">
                        </div>
                    </div>
                    <div class="card card-body text-center alert-secondary">
                        <h5>Inspiration</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <a asp-controller="Blogs" asp-action="Essentials">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/articlecategories/essentials.jpg" class="card-img-top">
                        </div>
                    </div>
                    <div class="card card-body text-center alert-secondary">
                        <h5>Essentials</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

