@{
    this.ViewData["Title"] = "Article categories";
}

<div>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-warning" style="width: 18rem;">
                <a asp-controller="Blogs" asp-action="Recipes">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/shoulders_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Recipes">Recipes</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-warning" style="width: 18rem;">
                <a asp-controller="Blogs" asp-action="Fitness">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/triceps_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Fitness">Fitness</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-warning" style="width: 18rem;">
                <a asp-controller="Blogs" asp-action="Nutrition">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/biceps_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Nutrition">Nutrition</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-warning" style="width: 18rem;">
                <a asp-controller="Blogs" asp-action="WeightLoss">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/upperback.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="WeightLoss">Weight Loss</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-warning" style="width: 18rem;">
                <a asp-controller="Blogs" asp-action="Inspiration">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/chest_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Inspiration">Inspiration</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-warning" style="width: 18rem;">
                <a asp-controller="Blogs" asp-action="Essentials">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/chest_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Essentials">Essentials</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>