@{
    this.ViewData["Title"] = "Article categories";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Articles/All">All articles</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <div class="card text-center alert-secondary" style="width: 21rem; ">
                <a asp-controller="Blogs" asp-action="Recipes">
                    <img src="/images/articlecategories/recipes.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Recipes">Recipes</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <div class="card text-center alert-secondary" style="width: 21rem; ">
                <a asp-controller="Blogs" asp-action="Fitness">
                    <img src="/images/articlecategories/fitness.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Fitness">Fitness</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <div class="card text-center alert-secondary" style="width: 21rem; ">
                <a asp-controller="Blogs" asp-action="Nutrition">
                    <img src="/images/articlecategories/nutrition.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Nutrition">Nutrition</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <div class="card text-center alert-secondary" style="width: 21rem;">
                <a asp-controller="Blogs" asp-action="WeightLoss">
                    <img src="/images/articlecategories/weightloss.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Weightloss">Weightloss</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <div class="card text-center alert-secondary" style="width: 21rem; ">
                <a asp-controller="Blogs" asp-action="Inspiration">
                    <img src="/images/articlecategories/inspiration.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Inspiration">Inspiration</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1">
            <div class="card text-center alert-secondary" style="width: 21rem;">
                <a asp-controller="Blogs" asp-action="Essentials">
                    <img src="/images/articlecategories/essentials.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blogs" asp-action="Essentials">Essentials</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>