@model MyFitnessApp.Web.ViewModels.Users.SearchUserInputModel

@{
    this.ViewData["Title"] = "Search for user";
}


<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">@this.ViewData["Title"]</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstName">Search for user using first name</label>
                    <input asp-for="FirstName" class="form-control" placeholder="Enter user's first name" />
                </div>

                <div class="form-group">
                    <label asp-for="LastName">Search for user using last name</label>
                    <input asp-for="LastName" class="form-control" placeholder="Enter user's last name" />
                </div>

                <div class="form-group">
                    <label asp-for="UserName">Search for user using username</label>
                    <input asp-for="UserName" class="form-control" placeholder="Enter user's username" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Search for user using E-mail</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter user's E-mail address" />
                </div>

                <input class="btn btn-primary btn-outline-light" type="submit" value="Search" />

            </form>
        </div>
    </div>
</div>