@model AllArticlesViewModel

<div class="row">
    @foreach (var article in Model.Articles.OrderByDescending(x => x.CreatedOn))
    {
    <div class="text-center col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 mt-3">
        <a asp-controller="Articles" asp-action="Article" asp-route-id="@article.Id">
            <div class="card-header col-md border text-center">
                <div class="media flex-wrap w-100 align-items-center">
                    <img src="@article.ImagePath" width="220" class="card-img-top">
                </div>
                <div class="card card-body text-center alert-secondary">
                    <div class="text">
                        <h5 class="card-title">@article.Title</h5>
                    </div>
                    <div class="text">
                        <p class="card-text  text-justify">@article.ShortContent</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    }
</div>