@model AllArticlesViewModel

@{
    this.ViewBag.Title = "Inspiration";
}

<div>
    <h1 class="text-center">@this.ViewBag.Title</h1>
    <partial name="_SingleCategoryPartial" model="@Model" />
</div>