@model AllExercisesViewModel

@{
    this.ViewData["Title"] = "Glutes";
}


<div>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <partial name="_SingleCategoryPartial" model="@Model" />
</div>