@model EditProfileImageInputModel

@{
    ViewData["Title"] = "Edit profile image";
}

<div class="container">
    <div class="row">
        <div class="col md">
            <h2 class="heading-margin text-center">@this.ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col md mt-5">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group row text-md-center">
                        <div class="col-md-6">
                            <label asp-for="ImageUrl"></label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary float-left" type="submit" value="Save changes" />
            </form>
        </div>
    </div>
</div>