@model ProfileViewModel

@{
    this.ViewData["Title"] = "My Profile";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewBag.Title</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<partial name="_ProfilePartial" model="@Model" />