@model ProfileViewModel

@{
    this.ViewData["Title"] = "User's profile";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Profiles/MyProfile">My profile</a></li>
        <li class="breadcrumb-item"><a href="/Users/Search">Search for another user</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewBag.Title</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

@if (Model == null)
{
    <h2>User has no profile yet</h2>
}

<partial name="_ProfilePartial" model="@Model" />