

<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Monday">Monday</a></h5>
</div>
<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Tuesday">Tuesday</a></h5>
</div>
<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Wednesday">Wednesday</a></h5>
</div>
<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Thursday">Thursday</a></h5>
</div>
<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Friday">Friday</a></h5>
</div>
<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Saturday">Saturday</a></h5>
</div>
<div class="text">
    <h5 class="text"><a asp-controller="ExerciseDiary" asp-action="Sunday">Sunday</a></h5>
</div>