@model AllDiaryExercisesViewModel

@{
    this.ViewData["Title"] = "Friday";
}

<div class="container">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div>
        <div class="row">
            <div class="col-md-2">
                <partial name="_DairyDayOfWeekPartial" />
            </div>
            <div class="col-md-10">
                <partial name="_DiaryExercisesPartial" model="@Model" />
            </div>
        </div>
    </div>
</div>

