@model AllDiaryExercisesViewModel

@{
    this.ViewData["Title"] = "Tuesday";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Exercises/All">All exercises</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container">
    <div>
        <div class="row">
            <div class="col-md-2">
                <partial name="_DairyDayOfWeekPartial" />
            </div>
            <div class="col-md-10">
                <partial name="_DiaryExercisesPartial" model="@Model" />
            </div>
        </div>
    </div>
</div>