@*View, което визуализира Index страницата*@

@using MyFitnessApp.Common
@using MyFitnessApp.Web.ViewModels.Home

@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>
</div>