@*View, което визуализира Index страницата*@

@using MyFitnessApp.Common
@using MyFitnessApp.Web.ViewModels.Home

@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>
</div>

<div class="col-md-12">
    <div>
            <img src="/images/homepage/mainimage.jpg" class="card-img-top">
    </div>
</div>