@using MyFitnessApp.Services.Data.User
@using MyFitnessApp.Services.Data.Profile
@using MyFitnessApp.Common
@using MyFitnessApp.Web.ViewModels.Home

@inject IUsersService usersService;
@inject IProfilesService profilesService;

@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.User.Identity.IsAuthenticated)
{
    var userId = User.GetId();
    @if (this.usersService.IsUserBanned(userId) == true)
    {
        <h1 class="heading-margin text-center text-danger">Restricted access !</h1>
        <h2 class="heading-margin text-center">Contact <u>admin@admin.com</u></h2>
    }
    else
    {
        <div class="text-center">
            <h2 class="text-center">Welcome to @GlobalConstants.SystemName</h2>
        </div>
        @if (this.profilesService.DoesUserHaveProfile(userId) == false)
        {
            <div class="text-center">
                <h5 class="heading-margin">In order to use the application please create profile!</h5>
            </div>
        }


        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
                    <img src="/images/homepage/mainimage01.jpg" class="card-img">
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
                    <img src="/images/homepage/mainimage02.jpg" class="card-img">
                </div>
            </div>
        </div>
    }
}
else
{
    <div>
        <h2 class="text-center">Get in shape with MyFitnessApp</h2>
        <br />
        <div class="row">
            <div class="col-md-8">
                <p>
                    Losing weight isn't easy - we know. But with <strong>MyFitnessApp</strong>, you'll get the tools you need to successfully take weight off - and keep it off. And best of all, you can signup for free, no strings attached. So put away your credit card - you'll never have to pay a cent.
                </p>
                <p>
                    At MyFitnessApp, we focus on making sure you can log your meals as quickly and easily as possible. Because the easier we make it for you, the more likely you are to stay on track, and the more likely you are to succeed in your weight loss goals.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/images/indexpage/IndexPage01.jpg" class="card-img-top">
            </div>
        </div>

        <h5>With a FREE membership you get:</h5>
        <ul>
            <li><strong>The easiest to use food diary on the web -</strong> Track what you eat with just a few clicks from anywhere with an internet connection - at home or at work.</li>
            <li><strong>A searchable food database with a lot of items -</strong> and it's growing every day!</li>
            <li><strong>Your own personal food database - </strong>add your own foods and recipes at any time and access them from anywhere with an internet connection.</li>

            <li><strong>Support and motivation from people just like you - </strong>Our discussion forums let you learn from others, share your own tips, receive and give encouragement, and make friends.</li>
            <li><strong>A personalized diet profile - </strong>customized to your unique weight loss goals.</li>
        </ul>

        <p>
            <div class="row">
                <div class="col-md-5">
                    <img src="/images/indexpage/IndexPage02.jpg" class="card-img-top">
                </div>
                <div class="col-md-7">
                    <h5>How does it work?</h5>
                    <p>
                        The reason our system is so easy to use is because it learns from you! All of us tend to eat the same foods over time. <strong>MyFitnessApp </strong> remembers what you've eaten and done most often in the past, and makes it easy for you to add those foods again to your log.

                        <strong>So the more you track your meals, the easier it becomes!</strong>
                    </p>
                    <h5>Don't wait! Start losing weight the healthy way - all for FREE!:</h5>
                    All the tools you need for healthy, sustainable weight loss are right at your fingertips - and you'll never have to pay a cent! So what are you waiting for? Stop wasting money on other dieting programs.
                </div>
            </div>
        </p>
        <br />
        <div class="text-center mt-2">
            <a href="/Identity/Account/Register" class="btn btn-primary">Join today and get on the path to healthier living</a>
        </div>
        <div class="text-center mt-2">
            <a href="/Identity/Account/Login" class="btn btn-primary">Login if you already have an account</a>
        </div>
    </div>
}