@model MyFitnessApp.Web.ViewModels.Comments.CreateCommentInputModel

@{
    this.ViewData["Title"] = "Write a comment";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Forums/Categories">Forums</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control" rows="14" placeholder="Content here..."></textarea>
                    <span asp-validation-for="Content" class="small text-danger"></span>
                </div>

                <div class="text-center pt-2">
                    <input class="btn btn-outline-secondary" type="submit" value="Add comment" />
                </div>
            </form>
        </div>
    </div>
</div>