
@{
    this.ViewData["Title"] = "Muscle groups";
}

<div>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Shoulders">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/shoulders_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Shoulders">Shoulders</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Triceps">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/triceps_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Triceps">Triceps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Biceps">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/biceps_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Biceps">Biceps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Back">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/upperback.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Back">Back</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Chest">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/chest_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Chest">Chest</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Forearm">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/forearms_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Forearm">Forearm</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Traps">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/traps_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Traps">Traps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Abs">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/abs_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Abs">Abs</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Glutes">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/glutes_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Glutes">Glutes</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Quadriceps">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/quads_1.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Quadriceps">Quadriceps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Hamstrings">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/hamstrings_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Hamstrings">Hamstrings</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-controller="ExerciseCategories" asp-action="Calves">
                    <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/calves_0.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Calves">Calves</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>