@{
    this.ViewData["Title"] = "Muscle groups";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Exercises/All">All exercises</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div>
    <div class="row text-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Shoulders">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/shoulders.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Shoulders</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Triceps">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/triceps.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Triceps</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Biceps">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/biceps.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Biceps</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Back">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/back.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Back</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Chest">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/chest.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Chest</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Forearm">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/forearms.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Forearm</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Traps">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/traps.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Traps</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Abs">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/abs.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Abs</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Glutes">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/glutes.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Glutes</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Quadriceps">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/quads.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Quadriceps</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Hamstrings">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/hamstrings.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Hamstrings</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <a asp-controller="ExerciseCategories" asp-action="Calves">
                <div class="card border-dark">
                    <div class="card-header col-md border text-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/images/exercisecategories/calves.jpg" class="card-img-top">
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>Calves</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>