@{
    this.ViewData["Title"] = "Muscle groups";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Exercises/All">All exercises</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div>
    <div class="row text-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Shoulders">
                    <img src="/images/exercisecategories/shoulders.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Shoulders">Shoulders</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Triceps">
                    <img src="/images/exercisecategories/triceps.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Triceps">Triceps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Biceps">
                    <img src="/images/exercisecategories/biceps.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Biceps">Biceps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Back">
                    <img src="/images/exercisecategories/back.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Back">Back</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Chest">
                    <img src="/images/exercisecategories/chest.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Chest">Chest</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Forearm">
                    <img src="/images/exercisecategories/forearms.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Forearm">Forearm</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Traps">
                    <img src="/images/exercisecategories/traps.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Traps">Traps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Abs">
                    <img src="/images/exercisecategories/abs.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Abs">Abs</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Glutes">
                    <img src="/images/exercisecategories/glutes.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Glutes">Glutes</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Quadriceps">
                    <img src="/images/exercisecategories/quads.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Quadriceps">Quadriceps</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Hamstrings">
                    <img src="/images/exercisecategories/hamstrings.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Hamstrings">Hamstrings</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
            <div class="card text-center alert-info" style="width: 16rem;">
                <a asp-controller="ExerciseCategories" asp-action="Calves">
                    <img src="/images/exercisecategories/calves.jpg" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="ExerciseCategories" asp-action="Calves">Calves</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>