<div class="container">
    <main itemscope itemtype="http://schema.org/Article">

        <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <img data-src="https://bbteamcdn.com/content/originals/4369.jpg" alt="&quot;Зотман&quot; сгъване с дъмбели" class="lazyload br1 shadow center db mb3" width="740" height="400">

            <meta itemprop="name" content="&quot;Зотман&quot; сгъване с дъмбели">
            <meta itemprop="width" content="740">
            <meta itemprop="height" content="400">
            <meta itemprop="url" content="https://bbteamcdn.com/content/originals/4369.jpg">
        </span>

        <article>
            <div class="mw6-5 center article-body">
                <h1 itemprop="headline" class="f2 f1-sm fw6 lh-solid dib mb2">"Зотман" сгъване с дъмбели</h1>

                <p class="f3 fw5 mb3 lh-title">Zottman curl</p>
            </div>


            <div itemprop="author" itemscope itemtype="https://schema.org/Person" class="flex justify-between mb3 f6 lh-title mw6-5 center">
                <meta itemprop="name" content="Марио Илиев">

                <div class="flex">

                    <div class="mt2">
                        <a itemprop="url" href="https://www.bb-team.org/author/mario-iliev" class="fw6 states-opacity">Марио Илиев</a>
                        <p class="mt1 grey-3 mb0">
                            От 20.09.2012,
                            чете се за 3 мин.
                        </p>
                    </div>
                </div>


                <a href="javascript:;" onclick="Article.favorite('4369');" id="reading-list-state" class="icon db states-opacity tooltip tooltip--left grey-3" aria-label="Добави в списъка си за четене">
                    <svg aria-hidden="true" role="img" class="center mt2">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#read-later"></use>
                    </svg>
                </a>
            </div>

            <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://bbteamcdn.com/img/logos/logo-1200.jpg">
                    <meta itemprop="width" content="1200">
                    <meta itemprop="height" content="1200">
                </span>

                <meta itemprop="name" content="BB-Team">
            </span>

            <div class="mw6-5 center article-body">
                <span itemprop="articleBody">
                    <p>
                        "Зотман" сгъването за пръв път е показано в една от "библиите" за вдигане на тежести "Супер Сила" от Алан Калверт. Оригиналното упражнение е малко по-различно от това, което познаваме в днешно време. То е било доста популярно сред бодибилдърите и тежкоатлетите от миналото. Става дума за сложно акцентиращо движение, което следва да се изпълнява от средно напреднали и напреднали трениращи.
                    </p>
                    <h3>
                        Противопоказания
                    </h3>
                    <p>
                        Не изпълнявайте в случай на текуща или хронична контузия в: китка, лакът, рамо, раменен пояс, ротаторен маншон. Ако се появи болка по време на изпълнението в някоя от споменатите области, прекратете веднага и консултирайте техниката си със специалист.
                    </p>
                    <h2>
                        Участващи в движението мускули
                    </h2>
                    <p>
                        <strong>Динамисти</strong>
                    </p>
                    <ul>
                        <li>
                            Бицепси дълги (външни) глави - водят във вътрешен кръг при старт до тялото (Biceps Brachii, Long Heads);
                        </li>
                        <li>
                            Бицепси къси (вътрешни) глави - водят във външен кръг, при старт далече от тялото&nbsp; (Biceps Brachii, Short Heads);
                        </li>
                    </ul>
                    <p>
                        <strong>Синергисти</strong>
                    </p>
                    <ul>
                        <li>
                            Брахиалиси (Brachialis)
                        </li>
                        <li>
                            Брахиорадиалис - предмишнична мускулатура (Brachioradialis)
                        </li>
                    </ul>
                    <p>
                        Статисти
                    </p>
                    <ul>
                        <li>
                            Големи гръдни мускули (Pectoralis Major)
                        </li>
                        <li>
                            Задни раменни глави (Deltoid Posterior)
                        </li>
                        <li>
                            Предмишнична мускулатура (Wrist Flexors)
                        </li>
                        <li>
                            Среден сектор на трапците (Trapezius Middle)
                        </li>
                        <li>
                            Ромбоиди (Rhomboids)
                        </li>
                    </ul>
                    <h3>
                        <span>Вариации на сгъването според броя на ръцете, сгъващи в серия</span>
                    </h3>
                    <ul>
                        <li>
                            <strong>с една ръка едновременно </strong>- само лява/само дясна - вариант за начинаещи в техниката, увеличава качеството на контрола;
                        </li>
                        <li>
                            <strong>с две ръце последователно</strong> - редуват се сгъвания през повторение;
                        </li>
                        <li>
                            <strong>с две ръце едновременно</strong> - сложна техника за напреднали с опит в изпълнението на "Зотман" сгъвания.
                        </li>
                    </ul>
                    <h3>
                        Според кинезиологията и амплитудата
                    </h3>
                    <ul>
                        <li>
                            <strong>Класическо кръгово "Зотман" сгъване навътре</strong> - кръгово с позитивна фаза навътре и нагоре - досущ като кръстосано чуково сгъване и негативна фаза навън и надолу;
                        </li>
                        <li>
                            <strong>Класическо кръгово "Зотман" сгъване навън</strong> - започва се далече от тялото и се спуска навътре и надолу;
                        </li>
                        <li>
                            <strong>Модерно "Зотман" сгъване</strong> - подхват позитивна част, т.е. повдигане - надхват негативна и/или обратното.Типично за модерния вариант е, че техниката е със скъсена амплитуда, на практика липсва ротация в рамото и ротаторния маншон. Това увеличава възможната работна тежест за сериите и подобрява контрола, но намалява ролята на стабилизаторите. &nbsp; &nbsp;
                        </li>
                    </ul>
                    <p>
                        В това упражнение стриктната форма и подходящата тежест са от изключителна важност. Джордж Зотман е правил сгъването с 25-килограмови дъмбели за повторения в работни серии с кръговата техника.
                    </p>
                    <h3>
                        Двупосочно класическо "Зотман" сгъване
                    </h3>
                    <p>
                        <strong>Подготовка</strong>
                    </p>
                    <ul>
                        <li>
                            Вземате дъмбел в ръка, заставате прав с леко разкрачени крака;
                        </li>
                        <li>
                            Докато стоите изправен, дъмбелът трябва да бъде опрян на бедрото, а кокалчетата на ръката трябва да сочат настрани;
                        </li>
                    </ul>
                    <p>
                        <strong>Изпълнение</strong>
                    </p>
                    <ul>
                        <li>
                            След което започвате да сгъвате дъмбела напречно на предната част на тялото и нагоре;
                        </li>
                        <li>
                            Когато тежестта стигне до брадичката, завъртате китката и спускате тежестта далеч от тялото до бедрото;
                        </li>
                        <li>
                            Тежестта и предмишницата трябва да опишат пълен кръг;
                        </li>
                        <li>
                            След като завършите една серия по този начин, изпълнявате упражнението по обратния начин, като започвате да сгъвате тежестта далеч от тялото и я спускате пред тялото.
                        </li>
                    </ul>
                    <p>
                        <strong>Коментари и препоръки</strong>
                    </p>
                    <ul>
                        <li>
                            Изпълнявайте техниката технически стриктно, без да размествате опорната точка;
                        </li>
                        <li>
                            Дори и модерният вариант на "Зотман" сгъване използва забавена негативна фаза на движението, така че запомнете - това не е силова техника.
                        </li>
                        <li>
                            Прекратете в случай на болка.
                        </li>
                        <li>
                            Играйте си с амплитудата, ако усещате хруптене в ставите при сгъване/ротация.
                        </li>
                    </ul>
                    <h3>
                        Тренировки за фитнес и кондиция
                    </h3>
                    <p>
                        "Зотман" сгъването е техника, която можете да включвате периодично при акцента си върху ръцете, за да подобрите силовия баланс на сгъвачите и нервно-мускулния си контрол.
                    </p>
                    <h3>
                        Силови и силово-кондиционни тренировки
                    </h3>
                    <p>
                        Силовите дисбаланси лесно се разкриват с класическото "Зотман" сгъване. Модерният вариант пък работи изключително добре за предмишниците, като подобрява силата и контрола върху хвата.
                    </p>
                    <h3>
                        Фитнес-културизъм
                    </h3>
                    <p>
                        Модерното "Зотман" сгъване се ползва за обща разгрявка на ръце в сплитове в началото на тренировката, както и за напомпване на предмишничната мускулатура в края. Може да подобри симетрията на предмишницата.&nbsp;
                    </p>
                    <h3>
                        Кросфит
                    </h3>
                    <p>
                        Импровизиран вариант на модерен "Зотман" с пудовки може да се включи в комплексите за мускулен контрол и баланс в седмиците между бенчмарк тренировките. Като цяло техниката се използва рядко. Честото използване на обръщане с щанга е по-предпочитан подход за функционално развитие в мишници и предмишници.
                    </p>
                    <h3>
                        Уличен фитнес
                    </h3>
                    <p>
                        Изискванията за дъмбели или поне пудовки като цяло изваждат и двете техники на "Зотман" сгъване от репертоара на стрийт фитнес маниаците. На лост напрежението може да се симулира с плавен и техничен преход от предна везна към набиране в горна точка в серии.
                    </p>
                </span>

                <a name="video"></a>

                <div class="aspect-ratio--16x9 mb3" style="padding-bottom:0!important;">
                    <div class="video-lf"
                         data-vendor="youtube"
                         data-title=""
                         data-thumbnail=""
                         data-src="https://www.youtube.com/embed/OvM_JUl9pEA?rel=0"
                         data-ratio="16:9"
                         data-initinview="false">
                    </div>

                </div>




                <meta itemprop="datePublished" content="2012-09-19 07:00:11">
                <meta itemprop="dateModified" content="2012-09-20 10:56:13">

                <link itemprop="mainEntityOfPage" href="https://www.bb-team.org/exercise/4369_zottman-sgavane-s-dambeli">


                <div class="lines mt4 mb4 grey-2">
                    <svg aria-hidden="true" role="img" class="db center" width="42px" height="20px">
                        <use xlink:href="#separator-shoe"></use>
                    </svg>
                </div>
            </div>

            <div class="tc mb4">
                <p class="f2 f1-sm fw6 lh-solid mb2">Хареса ли ти?</p>

                <p>Сподели с приятели в:</p>


                <div class="flex flex-wrap justify-center">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.bb-team.org%2Fexercise%2F4369_zottman-sgavane-s-dambeli" target="_blank" rel="nofollow" class="btn inline-flex items-center states-opacity mw6-5 bg-facebook b-facebook mh1 mb2 mb0-md">
                        <svg aria-hidden="true" role="img" class="square-icon mr2">
                            <use xlink:href="#facebook-icon"></use>
                        </svg> Facebook
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.bb-team.org%2Fexercise%2F4369_zottman-sgavane-s-dambeli&text=%22%D0%97%D0%BE%D1%82%D0%BC%D0%B0%D0%BD%22+%D1%81%D0%B3%D1%8A%D0%B2%D0%B0%D0%BD%D0%B5+%D1%81+%D0%B4%D1%8A%D0%BC%D0%B1%D0%B5%D0%BB%D0%B8&via=bbteam&related=dmihaylov" target="_blank" rel="nofollow" class="btn inline-flex items-center states-opacity mw6-5 bg-twitter b-twitter mh1 mb2 mb0-md">
                        <svg aria-hidden="true" role="img" class="square-icon mr2">
                            <use xlink:href="#twitter"></use>
                        </svg> Twitter
                    </a>
                    <a href="javascript:emailCurrentPage();" rel="nofollow" class="btn inline-flex items-center states-opacity mw6-5 bg-green b-green mh1 mb2 mb0-md">
                        <svg aria-hidden="true" role="img" class="square-icon mr2">
                            <use xlink:href="#mail"></use>
                        </svg> Имейл
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.bb-team.org%2Fexercise%2F4369_zottman-sgavane-s-dambeli" target="_blank" rel="nofollow" class="btn inline-flex items-center states-opacity mw6-5 bg-linkedin b-linkedin mh1 mb2 mb0-md">
                        <svg aria-hidden="true" role="img" class="square-icon mr2">
                            <use xlink:href="#linkedin"></use>
                        </svg> LinkedIn
                    </a>
                </div>
            </div>

        </article>
    </main>
</div>