@model MyFitnessApp.Web.ViewModels.Search.FoodInputModel

@{
    this.ViewData["Title"] = "Search for food";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Foods/All">All foods</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Keyword">Search for a food name using a keyword</label>
                    <input asp-for="Keyword" class="form-control" placeholder="Enter a word" />
                </div>
                <div class="text-center pt-2">
                    <input class="btn btn-outline-secondary" type="submit" value="Search" />
                </div>
            </form>
        </div>
    </div>
</div>