@{
    this.ViewData["Title"] = "Restricted access";
}

<h1 class="heading-margin text-center text-danger">@this.ViewData["Title"] !</h1>
<h2 class="heading-margin text-center">Contact <u>admin@admin.com</u></h2>